<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TOEIC Vocabulary</title>

<link href="/site_media/css_FAST.css" rel="stylesheet" type="text/css" />
</head>

<body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table width="432" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="153" height="165"><p><img src="/site_media/edit.png" width="128" height="128" align="texttop" /></p>
<p>&nbsp;</p></td>
    <td width="251"><font color="#333333" face="Arial, Helvetica, sans-serif" class="stylishTitle"><strong>TOEIC Vocabulary</strong></font>
      <br><br>
      <form id="form1" name="form1" method="post" action="/generate/">
        <label>
          <select name="itemno" class="stylishFont">
            <option value="1">1 item</option>
            <option value="5" selected="selected">5 items</option>
            <option value="10">10 items</option>
            <option value="15">15 items</option>
            <option value="20">20 items</option>
            <option value="30">30 items</option>
          </select>
          <input name="button" type="submit" class="stylishFont" id="button" value="Go!" />
        </label>
      </form>
    <p></p></td>
  </tr>
  <tr>
    <td height="26" colspan="2" align="center"><font color="#666666" size=1 class="stylishFoot">2010 (c) NTHU NLPlab</font></td>
  </tr>
</table>
</body>
</html>
